* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 4500px;
  background-color: #eee;
  position: relative;
}

#Navigation {
  margin-bottom: -100px;
  height: 50px;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
  position: fixed;
  z-index: 3;
  -webkit-backdrop-filter: brightness(70%);
          backdrop-filter: brightness(70%);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.3);
}

#Navigation .logo {
  padding: 10px 15px;
}

#Navigation .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Navigation .logo a:hover {
  color: #eee;
  opacity: 0.6;
}

#Navigation .link {
  padding: 10px 0px;
  margin-left: 30px;
}

#Navigation .link a {
  text-decoration: none;
  padding: 0px 15px;
  color: #fff;
  font-size: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Navigation .link a:hover {
  color: #fff;
  font-size: 26px;
  opacity: 0.6;
}

#Navigation .social {
  text-align: right;
}

#Navigation .social img {
  width: 30px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
          filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
}

#Navigation .social .ig {
  width: 15px;
  margin-right: 35px;
}

#Navigation .social a {
  padding: 10px 2px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Navigation .social a:hover {
  opacity: 0.4;
}

.banner {
  position: relative;
}

.banner img {
  width: 100vw;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  z-index: 1;
}

.banner .text {
  position: absolute;
  top: 340px;
  left: 120px;
  text-align: center;
}

.banner .text h1 {
  color: #fff;
  font-size: 72px;
}

.banner .text p {
  color: #eee;
  font-size: 32px;
  letter-spacing: 4px;
}

.banner #box {
  margin-left: -30px;
  display: -ms-grid;
  display: grid;
  margin-top: 120px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  text-align: left;
}

.banner #box .box1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  background-color: #000;
  opacity: 0.6;
  width: 350px;
  height: 150px;
  border-radius: 5px;
}

.banner #box .box1 .boximg {
  margin: auto auto;
}

.banner #box .box1 .boximg .img {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
          filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
}

.banner #box .box1 #box2 {
  width: 85px;
  height: 85px;
}

.banner #box .box1 .smallbox {
  margin-top: 10px;
}

.banner #box .box1 .smallbox h2 {
  color: #fff;
  line-height: 2.5;
}

.banner #box .box1 .smallbox p {
  font-size: 18px;
  letter-spacing: 1px;
}

.banner #box .box1:hover {
  background-color: #fff;
  opacity: 1;
}

.banner #box .box1:hover h2 {
  color: #000;
}

.banner #box .box1:hover p {
  color: #808080;
}

.banner #box .box1:hover .img {
  -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(93%) contrast(107%);
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(93%) contrast(107%);
}

#Aboutus {
  width: 100vw;
  height: 800px;
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#Aboutus #aboutleft {
  position: relative;
  margin: 50px auto;
  margin-left: 80px;
  height: 600px;
  width: 600px;
  background: rgba(0, 0, 0, 0.8);
}

#Aboutus #aboutleft #abouttext {
  margin: 0 auto;
  width: 400px;
}

#Aboutus #aboutleft #abouttext h1 {
  margin: 15px;
  padding: 15px;
  text-align: center;
  font-size: 48px;
  color: #fff;
}

#Aboutus #aboutleft #abouttext hr {
  margin: 15px auto;
  border: none;
  background-color: #fff;
  height: 3px;
  width: 150px;
}

#Aboutus #aboutleft #abouttext p {
  margin-top: 30px;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
}

#Aboutus #aboutright {
  position: absolute;
  right: 120px;
  background-attachment: fixed;
}

#Aboutus #aboutright img {
  z-index: 5;
  width: 500px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.boxcenter {
  width: 100vw;
  height: 450px;
  background-image: url(./img/test/img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  background-attachment: fixed;
}

.boxcenter h2 {
  text-align: center;
  font-size: 72px;
  color: #fff;
  line-height: 450px;
  -webkit-backdrop-filter: opacity(90%) brightness(80%);
          backdrop-filter: opacity(90%) brightness(80%);
}

#Projects {
  margin-top: 100px;
  background-color: #000;
  width: 100vw;
  height: 935px;
}

#Projects h1 {
  padding: 100px;
  text-align: center;
  font-size: 56px;
  color: #fff;
}

#Projects #Projects1-box {
  width: 100vw;
  height: 640px;
  background-color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: none;
}

#Projects #Projects1-box h2 {
  position: relative;
  color: #fff;
  font-size: 36px;
  margin-top: -80px;
  z-index: 5;
}

#Projects #Projects1-box .Projects1 {
  text-align: center;
  margin-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#Projects #Projects1-box .Projects1 img {
  position: relative;
  z-index: 2;
  width: 320px;
  height: 640px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

#Projects #Projects1-box .Projects1:hover h2 {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  display: none;
}

#Projects #Projects1-box .Projects1:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  width: 330px;
  -webkit-filter: none;
          filter: none;
}

#ideas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 50px 0;
  grid-gap: 20px;
}

#ideas #ideastitle {
  margin: -20px 20px;
}

#ideas #ideastitle h1 {
  font-size: 58px;
}

#ideas #ideastitle p {
  margin: 15px 0px;
  line-height: 1.5;
  font-size: 18px;
}

#ideas #ideastitle .button-ideas {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #000;
  margin: 20px 0;
  background-color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#ideas #ideastitle .button-ideas a {
  position: relative;
  -webkit-transition: all 0.45s ease-Out;
  transition: all 0.45s ease-Out;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

#ideas #ideastitle .button-ideas .circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  -webkit-transition: all 0.5s ease-Out;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}

#ideas #ideastitle .button-ideas:hover {
  border: 2px solid #fff;
}

#ideas #ideastitle .button-ideas:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#ideas #ideastitle .button-ideas:hover a {
  color: #000;
}

#ideas .ideasbox {
  margin-top: 50px;
  text-align: center;
  margin: 30px 20px;
  background-color: #eee;
  width: 270px;
  height: 350px;
  -webkit-perspective: 700;
  perspective: 700;
}

#ideas .ideasbox .ideacard {
  cursor: pointer;
  width: 270px;
  height: 350px;
  background-color: #fff;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#ideas .ideasbox .ideacard .bed1 {
  width: 270px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

#ideas .ideasbox .ideacard .front,
#ideas .ideasbox .ideacard .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#ideas .ideasbox .ideacard .front .ideasicon,
#ideas .ideasbox .ideacard .back .ideasicon {
  position: absolute;
  right: 60px;
  top: 20px;
  margin: 15px auto;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#ideas .ideasbox .ideacard .front .ideastext,
#ideas .ideasbox .ideacard .back .ideastext {
  position: absolute;
  top: 150px;
  width: 250px;
  line-height: 1.5;
}

#ideas .ideasbox .ideacard .front .ideastext h2,
#ideas .ideasbox .ideacard .back .ideastext h2 {
  font-size: 24px;
}

#ideas .ideasbox .ideacard .front .ideastext p,
#ideas .ideasbox .ideacard .back .ideastext p {
  font-size: 18px;
}

#ideas .ideasbox .ideacard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#ideas .ideasbox .ideacard:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  color: #fff;
}
/*# sourceMappingURL=style.css.map */