@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 5500px;
  background-color: #eee;
  position: relative;
}

body .button-ideas {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #000;
  margin: 20px 0;
  background-color: #000;
  opacity: 0.9;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .button-ideas a {
  position: relative;
  -webkit-transition: all 0.45s ease-Out;
  transition: all 0.45s ease-Out;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

body .button-ideas .circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  -webkit-transition: all 0.5s ease-Out;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}

body .button-ideas:hover {
  border: 2px solid #fff;
}

body .button-ideas:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

body .button-ideas:hover a {
  color: #000;
}

#Navigation {
  margin-bottom: -100px;
  height: 50px;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
  position: fixed;
  z-index: 8;
  -webkit-backdrop-filter: brightness(70%);
          backdrop-filter: brightness(70%);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.3);
}

#Navigation .logo {
  padding: 10px 15px;
}

#Navigation .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Navigation .logo a:hover {
  color: #eee;
  opacity: 0.6;
}

#Navigation .link {
  padding: 10px 0px;
  margin-left: 30px;
}

#Navigation .link a {
  text-decoration: none;
  padding: 0px 15px;
  color: #fff;
  font-size: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Navigation .link a:hover {
  color: #fff;
  opacity: 0.6;
}

#Navigation .social {
  text-align: right;
}

#Navigation .social img {
  width: 30px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
          filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
}

#Navigation .social .ig {
  width: 15px;
  margin-right: 40px;
}

#Navigation .social .ig img {
  width: 28px;
}

#Navigation .social a {
  padding: 10px 2px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Navigation .social a:hover {
  opacity: 0.4;
}

.banner {
  position: relative;
}

.banner img {
  width: 100vw;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  z-index: 1;
}

.banner .text {
  position: absolute;
  top: 340px;
  left: 120px;
  text-align: center;
}

.banner .text h1 {
  color: #fff;
  font-size: 72px;
}

.banner .text p {
  color: #eee;
  font-size: 32px;
  letter-spacing: 4px;
}

.banner #box {
  margin-left: -30px;
  display: -ms-grid;
  display: grid;
  margin-top: 120px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  text-align: left;
}

.banner #box .box1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  background-color: #000;
  opacity: 0.6;
  width: 350px;
  height: 150px;
  border-radius: 5px;
}

.banner #box .box1 .boximg {
  margin: auto auto;
}

.banner #box .box1 .boximg .img {
  width: 90px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
          filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
}

.banner #box .box1 #box2 {
  width: 85px;
  height: 85px;
}

.banner #box .box1 .smallbox {
  margin-top: 10px;
}

.banner #box .box1 .smallbox h2 {
  color: #fff;
  line-height: 2.5;
}

.banner #box .box1 .smallbox p {
  font-size: 18px;
  letter-spacing: 1px;
}

.banner #box .box1:hover {
  background-color: #fff;
  opacity: 1;
}

.banner #box .box1:hover h2 {
  color: #000;
}

.banner #box .box1:hover p {
  color: #808080;
}

.banner #box .box1:hover .img {
  -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(93%) contrast(107%);
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(93%) contrast(107%);
}

#Aboutus {
  position: relative;
  width: 100vw;
  height: 950px;
  background-color: #fff;
}

#Aboutus .button-ideas {
  margin-left: 100px;
}

#Aboutus #aboutleft {
  background-color: #fff;
  position: absolute;
  top: 230px;
  left: 50px;
  z-index: 6;
  width: 750px;
  height: 600px;
}

#Aboutus #aboutleft .button-ideas {
  margin-top: 50px;
}

#Aboutus #aboutleft #aboutimg {
  margin-left: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 620px;
}

#Aboutus #aboutleft #aboutimg .about-img-box1,
#Aboutus #aboutleft #aboutimg .about-img-box2,
#Aboutus #aboutleft #aboutimg .about-img-box3 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 50px;
  cursor: pointer;
}

#Aboutus #aboutleft #aboutimg .about-img-box1 img,
#Aboutus #aboutleft #aboutimg .about-img-box2 img,
#Aboutus #aboutleft #aboutimg .about-img-box3 img {
  width: 150px;
  height: 200px;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}

#Aboutus #aboutleft #aboutimg .about-img-box1:hover,
#Aboutus #aboutleft #aboutimg .about-img-box2:hover,
#Aboutus #aboutleft #aboutimg .about-img-box3:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#Aboutus #aboutleft #abouttext {
  width: 620px;
  margin-left: 100px;
}

#Aboutus #aboutleft #abouttext #abouttitle {
  color: #808080;
}

#Aboutus #aboutleft #abouttext p {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 0;
  line-height: 1.5;
  color: #696969;
  letter-spacing: 0.5px;
}

#Aboutus #aboutleft #abouttext h1 {
  font-size: 42px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

#Aboutus #aboutrightimg {
  background-image: url(./img/aboutusright.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 150px;
  top: 120px;
  width: 462px;
  height: 692px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
}

#Aboutus #Square {
  position: absolute;
  width: 400px;
  right: 80px;
  height: 600px;
  border: 8px solid #696969;
  z-index: 4;
  top: 60px;
}

.boxcenter {
  position: relative;
  width: 100vw;
  height: 650px;
  background-image: url(./img/test/img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.boxcenter #test {
  position: absolute;
  width: 100vw;
  height: 650px;
  -webkit-backdrop-filter: brightness(80%);
          backdrop-filter: brightness(80%);
}

.boxcenter #boxcenterleft {
  position: absolute;
  width: 700px;
  left: 100px;
  top: 150px;
  z-index: 2;
}

.boxcenter #boxcenterleft h1 {
  font-size: 72px;
  color: #fff;
}

.boxcenter #boxcenterright {
  margin: 0 auto;
}

.boxcenter #boxcenterright #web-form {
  position: absolute;
  right: 50px;
  top: 100px;
  padding: 30px;
  width: 400px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.boxcenter #boxcenterright #web-form h2 {
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 28px;
}

.boxcenter #boxcenterright #web-form #name,
.boxcenter #boxcenterright #web-form #email,
.boxcenter #boxcenterright #web-form #phone {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.boxcenter #boxcenterright #web-form #input {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: #696969;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.boxcenter #boxcenterright #web-form #input:hover {
  background-color: #fff;
  color: #000;
}

#Projects {
  margin-top: 100px;
  background-color: #000;
  width: 100vw;
  height: 1100px;
  position: relative;
}

#Projects #Projects-h2 {
  position: absolute;
  font-family: "Parisienne", cursive;
  color: #a9a9a9;
  font-size: 28px;
  left: 570px;
  top: 70px;
  z-index: 5;
}

#Projects h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  position: absolute;
  font-size: 230px;
  /*  文字的距離  */
  /*  通常搭配內距左邊  */
  letter-spacing: 5px;
  padding-left: 5px;
  color: #000;
  z-index: 0;
  opacity: 0.3;
  -webkit-text-stroke: 1px #808080;
}

#Projects h1 {
  position: absolute;
  top: 100px;
  left: 370px;
  z-index: 3;
  font-size: 62px;
  color: #fff;
  text-align: center;
}

#Projects #Projects1-box {
  width: 100vw;
  height: 640px;
  background-color: #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: none;
  margin-top: 150px;
  position: absolute;
  top: 100px;
}

#Projects #Projects1-box h2 {
  position: relative;
  color: #fff;
  font-size: 36px;
  margin-top: -80px;
  z-index: 5;
}

#Projects #Projects1-box .Projects1 {
  text-align: center;
  margin-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#Projects #Projects1-box .Projects1 img {
  position: relative;
  z-index: 2;
  width: 320px;
  height: 640px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

#Projects #Projects1-box .Projects1:hover h2 {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  display: none;
}

#Projects #Projects1-box .Projects1:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  width: 330px;
  -webkit-filter: none;
          filter: none;
}

#ideas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 50px 0;
  grid-gap: 20px;
  background-color: #eee;
}

#ideas #ideastitle {
  width: 250px;
  margin: -20px 30px;
}

#ideas #ideastitle #title-h1 {
  color: #808080;
}

#ideas #ideastitle h1 {
  font-size: 58px;
}

#ideas #ideastitle p {
  margin: 15px 0px;
  line-height: 1.5;
  font-size: 18px;
  color: #696969;
}

#ideas .ideasbox {
  margin-top: 50px;
  text-align: center;
  margin: 30px 20px;
  background-color: #eee;
  width: 270px;
  height: 350px;
  -webkit-perspective: 700;
  perspective: 700;
}

#ideas .ideasbox .ideacard {
  cursor: pointer;
  width: 270px;
  height: 350px;
  background-color: #fff;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*  盒子-陰影：左右位移 上下位移 模糊量 顏色  */
  -webkit-box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
}

#ideas .ideasbox .ideacard .bed1 {
  width: 270px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: brightness(65%);
          filter: brightness(65%);
}

#ideas .ideasbox .ideacard .front,
#ideas .ideasbox .ideacard .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#ideas .ideasbox .ideacard .front .ideasicon,
#ideas .ideasbox .ideacard .back .ideasicon {
  position: absolute;
  right: 60px;
  top: 20px;
  margin: 15px auto;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#ideas .ideasbox .ideacard .front .ideastext,
#ideas .ideasbox .ideacard .back .ideastext {
  position: absolute;
  top: 180px;
  width: 250px;
  line-height: 1.5;
}

#ideas .ideasbox .ideacard .front .ideastext h2,
#ideas .ideasbox .ideacard .back .ideastext h2 {
  font-size: 24px;
}

#ideas .ideasbox .ideacard .front .ideastext p,
#ideas .ideasbox .ideacard .back .ideastext p {
  font-size: 18px;
}

#ideas .ideasbox .ideacard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#ideas .ideasbox .ideacard:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  color: #fff;
}

#ideas .ideasbox .ideacard:hover .ideasicon {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(107%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(107%) contrast(101%);
}

#latestnews {
  width: 100vw;
  height: 750px;
  background-color: #000;
}

#latestnews #latestnews-title {
  width: 100vw;
  height: 200px;
  background-color: #000;
  position: relative;
}

#latestnews #latestnews-title h2 {
  position: absolute;
  font-family: "Parisienne", cursive;
  color: #a9a9a9;
  font-size: 28px;
  left: 570px;
  top: 50px;
}

#latestnews #latestnews-title h1 {
  color: #fff;
  font-size: 56px;
  text-align: center;
  line-height: 180px;
  padding: 30px;
  letter-spacing: 2px;
}

#latestnews #slider1 {
  width: 130vw;
  margin-left: -180px;
  text-align: center;
  overflow: hidden;
}

#latestnews #slider1 h2 {
  color: #fff;
  font-size: 28px;
}

#latestnews #slider1 p {
  color: #a9a9a9;
  padding: 10px;
  font-size: 15px;
  font-weight: 900;
  font-family: 微軟正黑體;
}

#latestnews #slider1 img {
  width: 480px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 30px;
}

#footer {
  width: 100vw;
  height: 330px;
  background-color: #171717;
  color: #fff;
  text-align: center;
  position: relative;
}

#footer .footer-box {
  position: absolute;
  top: 50px;
  left: 400px;
}

#footer .footer-box .footer-text .footer-link {
  padding: 10px 0px;
  margin-left: 30px;
  margin-top: 15px;
}

#footer .footer-box .footer-text .footer-link a {
  text-decoration: none;
  padding: 0px 15px;
  color: #fff;
  font-size: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#footer .footer-box .footer-text .footer-link a:hover {
  color: #fff;
  opacity: 0.6;
}

#footer .footer-box .footer-text h1 {
  font-size: 42px;
}

#footer .footer-box .footer-text h2 {
  margin-top: 20px;
  margin-left: 5px;
}

#footer .footer-box .social {
  text-align: center;
  margin-top: 5px;
}

#footer .footer-box .social img {
  width: 30px;
  -webkit-filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
          filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
}

#footer .footer-box .social .ig {
  width: 15px;
  margin-left: 10px;
}

#footer .footer-box .social .ig img {
  width: 28px;
}

#footer .footer-box .social a {
  padding: 10px 2px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#footer .footer-box .social a:hover {
  opacity: 0.4;
}

#footer hr {
  margin-top: 10px;
  position: absolute;
  bottom: 50px;
  width: 100vw;
}

#footer p {
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 520px;
}
/*# sourceMappingURL=style.css.map */