* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color: #fff;

body {
    height: 4500px;
    background-color: #eee;
    // overflow: hidden;
    position: relative;
    .button-ideas {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        display: inline-flex;
        height: 40px;
        width: 150px;
        border: 2px solid #000;
        margin: 20px 0;
        background-color: #000;
        opacity: 0.9;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.8em;
        letter-spacing: 1.5px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: 0.5s;
        a {
            position: relative;
            transition: all 0.45s ease-Out;
            color: #fff;
            text-decoration: none;
            letter-spacing: 1px;
        }
        .circle {
            width: 0%;
            height: 0%;
            opacity: 0;
            line-height: 40px;
            border-radius: 50%;
            background: #fff;

            position: absolute;
            transition: all 0.5s ease-Out;
            top: 20px;
            left: 70px;
        }
        &:hover {
            border: 2px solid #fff;
            .circle {
                width: 200%;
                height: 500%;
                opacity: 1;
                top: -70px;
                left: -70px;
            }
            a {
                color: #000;
            }
        }
    }
}
// banner+nav

#Navigation {
    margin-bottom: -100px;
    height: 50px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    transition: 0.3s;
    opacity: 0.8;
    position: fixed;
    z-index: 8;
    backdrop-filter: brightness(70%);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.3);

    .logo {
        padding: 10px 15px;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 24px;
            transition: 0.5s;
            &:hover {
                color: #eee;
                opacity: 0.6;
            }
        }
    }
    .link {
        padding: 10px 0px;
        margin-left: 30px;
        a {
            text-decoration: none;
            padding: 0px 15px;
            color: #fff;
            font-size: 24px;
            transition: 0.5s;
            &:hover {
                color: $color;
                font-size: 26px;
                opacity: 0.6;
            }
        }
    }
    .social {
        text-align: right;
        img {
            width: 30px;
            filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
        }
        .ig {
            width: 15px;
            margin-right: 35px;
        }

        a {
            padding: 10px 2px;
            display: inline-block;
            transition: 0.5s;
            &:hover {
                opacity: 0.4;
            }
        }
    }
}

.banner {
    position: relative;
    img {
        width: 100vw;
        height: 800px;
        object-fit: cover;
        filter: brightness(70%);
        z-index: 1;
    }

    .text {
        position: absolute;
        top: 340px;
        left: 120px;
        text-align: center;
        h1 {
            color: #fff;
            font-size: 72px;
        }
        p {
            color: #eee;
            font-size: 32px;
            letter-spacing: 4px;
        }
    }
    #box {
        margin-left: -30px;
        display: grid;
        margin-top: 120px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        text-align: left;
        .box1 {
            display: grid;
            grid-template-columns: 1fr 2fr;
            background-color: #000;
            opacity: 0.6;
            width: 350px;
            height: 150px;
            border-radius: 5px;
            .boximg {
                margin: auto auto;
                .img {
                    width: 90px;
                    height: 90px;
                    object-fit: cover;
                    filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(295deg) brightness(116%) contrast(95%);
                }
            }
            #box2 {
                width: 85px;
                height: 85px;
            }
            .smallbox {
                margin-top: 10px;
                h2 {
                    color: #fff;
                    line-height: 2.5;
                }
                p {
                    font-size: 18px;
                    letter-spacing: 1px;
                }
            }

            &:hover {
                background-color: #fff;
                opacity: 1;

                h2 {
                    color: #000;
                }
                p {
                    color: #808080;
                }
                .img {
                    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(93%) contrast(107%);
                }
            }
        }
    }
}
#Aboutus {
    position: relative;
    width: 100vw;
    height: 950px;
    background-color: #fff;
    #aboutleft {
       
        background-color: #fff;
        position: absolute;
        top: 230px;
        left: 100px;
        z-index: 6;
        width: 680px;
        height: 600px;
        .button-ideas{
            margin-top: 50px;   
        }
        #aboutimg {

            display:grid;
            grid-template-columns: repeat(3, 1fr);
            width: 620px;
            .about-img-box1,
            .about-img-box2,
            .about-img-box3 {
                transition: 0.5s;
                margin-top: 50px;
                cursor: pointer;
                img {
                    width: 150px;
                    height: 200px;
                    
                }

                &:hover{
                    transform: translateY(-10px);

                }
            }
        }
        #abouttext{
            width: 620px;
            
            #abouttitle {
                color: #808080;
            }
            p {
                margin-top: 20px;
                font-size: 18px;
                padding: 10px 0;
                line-height: 1.5;
                color: #696969;
                letter-spacing: 0.5px;
            }
            h1 {
                font-size: 42px;
                line-height: 1.5;
                letter-spacing: 0.5px;
            }
        }
    }
    #aboutrightimg {
        background-image: url(./img/aboutusright.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        right: 150px;
        top: 120px;
        width: 462px;
        height: 692px;
        object-fit: cover;
        z-index: 5;
       
    }
    #Square{
        position: absolute;
        width: 400px;
        right: 80px;
        height: 600px;
        border: 8px solid #696969;
        z-index: 4;
        top:60px


    }
}
.boxcenter {
    width: 100vw;
    height: 450px;
    background-image: url(./img/test/img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
    background-attachment: fixed;
    h2 {
        text-align: center;
        font-size: 72px;
        color: #fff;
        line-height: 450px;
        backdrop-filter: opacity(90%) brightness(80%);
    }
}

#Projects {
    margin-top: 100px;
    background-color: #000;
    width: 100vw;
    height: 935px;
    h1 {
        padding: 100px;
        text-align: center;
        font-size: 56px;
        color: #fff;
    }
    #Projects1-box {
        width: 100vw;
        height: 640px;
        background-color: #000;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: none;

        h2 {
            position: relative;
            color: #fff;
            font-size: 36px;
            margin-top: -80px;
            z-index: 5;
        }
        .Projects1 {
            // border:1px solid #fff;
            text-align: center;
            margin-top: 30px;
            transition: 0.5s;
            transition-delay: 0.1s;
            img {
                position: relative;
                z-index: 2;
                width: 320px;
                height: 640px;
                object-fit: cover;
                filter: brightness(30%);
            }
            &:hover {
                h2 {
                    transition-delay: 0.1s;
                    display: none;
                }
                img {
                    transition: 0.5s;
                    transition-delay: 0.1s;
                    width: 330px;
                    filter: none;
                }
            }
        }
    }
}
#ideas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 0;
    grid-gap: 20px;
    background-color: #eee;
    #ideastitle {
        width: 250px;
        margin: -20px 30px;
        #title-h1 {
            color: #808080;
        }
        h1 {
            font-size: 58px;
        }
        p {
            margin: 15px 0px;
            line-height: 1.5;
            font-size: 18px;
            color: #696969;
        }

    }
    .ideasbox {
        margin-top: 50px;
        text-align: center;
        margin: 30px 20px;
        background-color: #eee;
        width: 270px;
        height: 350px;
        -webkit-perspective: 700;
        -moz-perspective: 700;
        perspective: 700;
        .ideacard {
            cursor: pointer;
            width: 270px;
            height: 350px;
            background-color: #fff;
            position: relative;
            transition: 0.6s;
            transition-delay: 0.1s;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            .bed1 {
                width: 270px;
                height: 350px;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                filter: brightness(65%);
            }
            .front,
            .back {
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                .ideasicon {
                    position: absolute;
                    right: 60px;
                    top: 20px;
                    margin: 15px auto;
                    width: 150px;
                    object-fit: cover;
                    transition-delay: 0.1s;
                    transition: 0.6s;
                }
                .ideastext {
                    position: absolute;
                    top: 180px;
                    width: 250px;
                    line-height: 1.5;
                    h2 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 18px;
                    }
                }
            }
            .back {
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }

            &:hover {
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                transform: rotateY(180deg);
                color: #fff;
                .ideasicon {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(107%) contrast(101%);
                }
            }
        }
    }
}
